@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles */
html {
    font-family: Roboto, sans-serif; 
    background-color: rgb(41, 40, 40);
}

/* sets body styles */
body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    min-width: auto;
}

/* sets styles for hero section */
.hero {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 100px;
    padding-bottom: 50px;
    height: auto;
}

/* sets styles for nav section */
.header {
    display: flex; /* makes header a flex container set to row*/
    justify-content: space-between; 
    padding-top: 10px;
}

/* sets styles for content of hero section */
.content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

/* sets styles for button */
button {
    width: 100px;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

/* sets font styles for nav links and subtext */
nav li,
.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

/* sets font styles for main text */
.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

/* sets layout styles for subtext */
.subtext {
    width: 90%;
    padding-bottom: 10px;
}

/* sets padding for hero text */
.hero-text {
    padding-top: 10px; 
}

/* sets ul list styles and flex layout */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* sets styles for logo */
.logo {
    font-size: 24px;
    color: #f9faf8;
}

/* sets styles for image */
.image {
    min-width: 300px;
    height: auto;
    border: 1px solid none;
    background-color: grey;
}

/* sets styles for image paragraph */
.image p {
    text-align: center;
    margin: 100px auto;
}

/* sets styles for info section */
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    height: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

/* sets styles for info boxes*/
.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue;
}

/* sets flex row layout for info box text */
.box-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    
}

/* sets styles for box text*/
.box-column p {
    padding-top: 10px;
    width: 100px;
   
   
}

/* sets styles for info header */
.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 20px;
}

/* sets styles for quote section */
.quote-section {
    background-color: #e5e7eb;
}

/* sets styles for quote text */
.quote-section p {
    margin: 50px auto;
    width: 70%;
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   color: #1f2937;
}

/* sets styles for author */
#author {
   display: flex;
   justify-content: flex-end;
}

/* sets styles for action section*/
.action-section {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

/* sets styles for action box */
.action-box {
    background-color: #3882f6;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* centers call to action */
.call-to-action {
    margin: 0 auto;

}

/* aligns the two paragraphs in call to action */
.call-to-action p:nth-of-type(1) {
    padding-right: 280px;
} 

/* sets styles for button in action box */
.action-box button {
    border: 1px solid white;
    background-color: #3882f6;
    margin-right: 20px;
}

