




body {
	/*max-width: 1360px;*/
	margin: 0 auto;
	/*font-color: white;*/
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffcc;
    font-size: 1.2em;
      }

 nav {
 	background-color: gray;
 	font-color: white;
 	border-bottom: 1px solid black;
 }

.navbar-toggler-icon {
	color: white;
}

.about {
	color: #888;
	/*background-color: #ffffcc;*/
	/*border: 1px solid black;*/
	border-top: none;
	
}

.portfolios {
	background-color: gray;
}


 
.divider {
	width: 80%;
	height: 6px;
	margin-left: 95px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	background-color: gray;
	color: gray;
	border: 0 none;
	
}
  

.divider1 {
	width: 80%;
	height: 6px;
	background-color: black;
	color: black;
	border: 0 none;

}

.message {
	height: 100px;
	padding-bottom: 70px;
}

  




/*
  ==========================================

  Links

  ==========================================

*/

a:hover {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}


.me {
	height: 275px;
	width: 250px;
	border-radius: 50%;

}



