




body {
	/*max-width: 1360px;*/
	margin: 0 auto;
	color: #888;
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffcc;
    font-size: 1.2em;
      }

 nav {
 	background-color: lightgray;
 	border-bottom: 1px solid white;
 }


.portfolio {
	color: #888;
	background-color: darkgray;
	border-bottom: 1px solid white;
}

.about



 
.divider {
	width: 80%;
	height: 6px;
	margin-left: 95px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	background-color: white;
	color: white;
	border: 0 none;
}
  

.divider1 {
	width: 60%;
	height: 6px;
	background-color: gray;
	color: gray;
	border: 0 none;

}

.message {
	height: 100px;
	padding-bottom: 70px;
}

  




/*
  ==========================================

  Links

  ==========================================

*/

a:hover {
  color: #a9b2b9;
}

a {
  color: #648880;
  text-decoration: none;
}


.me {
	height: 275px;
	width: 250px;
	border-radius: 50%;

}



