*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 54, 54);
    font-family: Arial, sans-serif;

}



.business-card {
    width: 300px;
    background-color: rgb(176, 187, 199);
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    margin: 100px auto;
    border: 5px solid slategray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgb(35, 39, 44);
}

.profile-image {
    width: 100px;
    height: auto;
}





a {
    text-decoration: none;
    color: rgb(71, 49, 49);

}

a:hover {
    cursor: pointer;
    color: blue;
    font-size: 1.2em;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
}