*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #4d4d4e 0%, #4d4d4d 30%, #9ea0a5 60%, #4d4d4d 100%);
    font-family: Arial, sans-serif;

}



.business-card {
    width: 350px;
    background-color: rgb(232, 235, 238);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin: 140px auto;
    border: 5px solid slategray;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgb(35, 39, 44);
}

.profile-image {
    width: 100px;
    height: auto;
}





a {
    text-decoration: none;
    color: rgb(71, 49, 49);

}

a:hover {
    cursor: pointer;
    color: blue;
    font-size: 1.2em;
    
}



.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog {
    display: flex;
    justify-content: space-between;
  
    margin-top: 10px;
}

footer {
    text-align: center;
}