 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	height: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';h
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
	margin: 0 auto;
	width: 1060px;
	min-height: 100%;
  }

 

  


  /*
    ================================================
    Typography

    ================================================

  */

  h1, h3, h4, h5, p {
    margin-bottom: 22px;
  }

  h1,h3,h4,h5 {
    color: #648880;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    line-height: 44px;
  }
  
  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  strong {
    font-weight: 400;
  }

  cite, em {
    font-style: italic;
  }

/* 
	============================================

	Header

	============================================
*/

.logo {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #648880;
}

.logo h1 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 44px;
	text-transform: uppercase;
}


.dev {
	font-size: 60px;
}



body {
	

    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ffffcc
    

 }

  .wrapper {
	  max-width: 1000px;
	  margin: 0 auto;

  }

.tagline{
	font-size: 14px;
	padding: 72px 0 0 0;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  width: 100%;
}



.nav {
	display: flex;
	justify-content: center;
}



.nav li {
	margin-right: 20px;
	padding-top: 20px;
}



.nav li:last-child {
	margin-right: 0;

}




/*
  ==========================================

  Links

  ==========================================

*/

a:hover {
  color: #a9b2b9;
}

a {
  color: #648880;
  text-decoration: none;
}


.hero {
	
    line-height: 34px;
    padding: 0 80px 66px 80px;
    max-width: 75%;

    }

 .hero h2 {
     font-size: 26px;
     text-align: center;
   }

 .hero p {
     font-size: 24px;
     font-weight: 300;
   }

 .social {
    display: flex;

    	
  }


  .social li {
    padding-right: 34px;


  }
  
  .social li:last-child {
   	padding-right: 0;

  }
 

  .blurb {
  	text-align: center;
 
  }



.blurb img {
	float: left;
	border-radius: 50%;
	/*margin-top: 10px;*/
	width: 200px;
	height: 250px;
	margin: 0 10px 0 125px;

}


.hello {
	text-align: center;
}

.jack h1 {
	text-align: center;
}

.primary-footer {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	

}

small {
	margin-top: 38px;
}


.primary-footer ul {
	display: flex;
}




	
}


