
.container {
	margin: 0 auto;
	width: 1060px;
	
  }

  
/* 
	============================================

	Header

	============================================
*/

.logo {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #648880;
}

.logo h1 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 44px;
	text-transform: uppercase;
}


.dev {
	font-size: 60px;
}



body {
	

    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ffffcc;
    

 }

  .wrapper {
	  max-width: 1000px;
	  margin: 0 auto;

  }

.tagline{
	font-size: 14px;
	padding: 72px 0 0 0;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  width: 100%;
}



.nav {
	display: flex;
	justify-content: center;
}



.nav li {
	margin-right: 20px;
	padding-top: 20px;
  list-style-type: none;
}



.nav li:last-child {
	margin-right: 0;

}




/*
  ==========================================

  Links

  ==========================================

*/

a:hover {
  color: #a9b2b9;
}

a {
  color: #648880;
  text-decoration: none;
}


.hero {
	
    line-height: 34px;
    padding: 0 80px 66px 80px;
    max-width: 75%;

    }

 .hero h2 {
     font-size: 26px;
     text-align: center;
   }

 .hero p {
     font-size: 24px;
     font-weight: 300;
   }

 .social {
    display: flex;

    	
  }


  .social li {
    padding-right: 34px;
    list-style-type: none;


  }
  
  .social li:last-child {
   	padding-right: 0;

  }
 

  .blurb {
  	text-align: center;
 
  }



.blurb img {
	float: left;
	border-radius: 50%;
	/*margin-top: 10px;*/
	width: 200px;
	height: 250px;
	margin: 0 10px 0 125px;

}


.hello {
	text-align: center;
}

.jack h1 {
	text-align: center;
}

.primary-footer {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	

}

small {
	margin-top: 38px;
}


.primary-footer ul {
	display: flex;
}




	



